Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #2836
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

SM bugs and BT detachment
  Imperium - Space Marines.cat
Owners: @acebaur

SM Bugs
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #2853
  T'au Empire.cat
Owners: @Dunamis55

Grotmas Detachment
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #2858
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #2890
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Last of the Grotmas
  Imperium - Adepta Sororitas.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @CrusherJoe, @acebaur

Fixes #2891
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #2902
  Tyranids.cat
Owners: @Dunamis55

Fixes ImpKnight AdMech Marshall enhancements
  Imperium - Imperial Knights.cat
Owners: @Dunamis55

Fixes #2903
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #2931
  T'au Empire.cat
Owners: @Dunamis55

Fixes #2952
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #2970
  Genestealer Cults.cat
Owners: @Dunamis55

Cult Ambush formatting fix
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #2976
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Feel No Pain as ability Shared Info Group addition
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #2980
  Tyranids.cat
Owners: @Dunamis55

Fixes #2951
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2998
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2999
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3028
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #3032
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #3031
  Genestealer Cults.cat
Owners: @Dunamis55

Big Mek roster limit addition
  Orks.cat
Owners: @Dunamis55

Fixes #3038
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3036
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #2912
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Minor updates to the PR
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2951 (#2989)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

SM bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3062
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #3055
  Tyranids.cat
Owners: @Dunamis55
