Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

World Eaters: let any model carry the Instrument of Chaos
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Blood Angels: let any model carry the Sanguinary Banner
  Imperium - Blood Angels.cat
Owners: @acebaur

docs: refresh ICON_BEARER_APP_PROMPT specific-model example
  editor/ICON_BEARER_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Thousand Sons: any-model Daemonic Icon on Pink Horrors
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

World Eaters: inline the Vessels of Wrath detachment rule
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Chaos Daemons: inline the Daemonic Incursion detachment rule
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Adepta Sororitas: inline detachment rules (5 detachments)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Necrons: inline detachment rules (9 detachments)
  Necrons.cat
Owners: @Mad-Spy

World Eaters: restrict daemon icon/instrument to non-lieutenant models
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Emperor's Children: restrict icon/instrument to non-lieutenant models
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Death Guard: restrict icon/instrument to non-lieutenant models
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Chaos Daemons: restrict icon/instrument to non-lieutenant models
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

tools: add fetch-wahapedia.js to source rules locally
  .gitignore
Owners: @BSData/data-admins-wh40k

editor: add fetch-wahapedia.js (relocated from tools/ so it is tracked)
  editor/fetch-wahapedia.js
Owners: @BSData/data-admins-wh40k

docs: ICON_BEARER_APP_PROMPT — icon/instrument mutual exclusion (app-side)
  editor/ICON_BEARER_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

World Eaters: remodel Jakhals to size-choice + mauler ratio
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Agents: remodel Aquila Kill Team to a clean size choice
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Deathwatch: remodel Decimus Kill Team to a clean size choice
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Space Wolves: remodel Wolf Scouts to a clean size choice
  Imperium - Space Wolves.cat
Owners: @acebaur

Astra Militarum: remodel Catachan Jungle Fighters to a clean size choice
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Astra Militarum: remodel Death Korps of Krieg to a clean size choice
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

add other factions for the wahapedia script
  editor/fetch-wahapedia.js
Owners: @BSData/data-admins-wh40k

Orks: remodel Gretchin to a clean size choice (10/20, default 10)
  Orks.cat
Owners: @Dunamis55

Orks: remodel Burna Boyz to a clean size choice (5/10, default 5)
  Orks.cat
Owners: @Dunamis55

Orks: remodel Lootas to a clean size choice (5/10, default 5)
  Orks.cat
Owners: @Dunamis55

Orks: remodel Squighog Boyz to a clean size choice (4/8, default 4)
  Orks.cat
Owners: @Dunamis55

Astra Militarum: remodel Cadian Shock Troops to a clean size choice (10/20, default 10)
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

docs: app prompt for unit-composition evaluation (entryLink models + modifiers)
  CLAUDE.md
  editor/UNIT_COMPOSITION_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs: UNIT_COMPOSITION_APP_PROMPT — automatic counts + weapon-swap UX
  editor/UNIT_COMPOSITION_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs(app): prompt pour résoudre les règles via bibliothèque partagée
  CLAUDE.md
  editor/SHARED_LIBRARY_RULES_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Grey Knights: points MFM (MFM en ligne, juin 2026)
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Adeptus Custodes: points MFM (MFM en ligne, juin 2026)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adepta Sororitas: points MFM (MFM en ligne, juin 2026)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

docs: palier de répétition par modifier de coût (remplace l'entrée dupliquée)
  CLAUDE.md
  editor/MFM_PROMPT.md
  editor/REPEAT_COST_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Grey Knights: palier de répétition par modifier de coût (suppr. entrées dupliquées)
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Adeptus Custodes: palier de répétition par modifier de coût (suppr. entrées dupliquées)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adepta Sororitas: palier de répétition par modifier de coût (suppr. entrées dupliquées)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

tooling: éditeur de récupération MFM en ligne (script navigateur)
  editor/fetch-mfm.js
Owners: @BSData/data-admins-wh40k

Orks: points MFM (MFM en ligne, juin 2026)
  Orks.cat
Owners: @Dunamis55

data: sources MFM en ligne (captures de points par faction)
  editor/mfm-source/adepta-sororitas.txt
  editor/mfm-source/adeptus-custodes.txt
  editor/mfm-source/adeptus-mechanicus.txt
  editor/mfm-source/aeldari.txt
  editor/mfm-source/astra-militarum.txt
  editor/mfm-source/chaos-daemons.txt
  editor/mfm-source/death-guard.txt
  editor/mfm-source/drukhari.txt
  editor/mfm-source/emperors-children.txt
  editor/mfm-source/genestealer-cults.txt
  editor/mfm-source/grey-knights.txt
  editor/mfm-source/imperial-agents.txt
  editor/mfm-source/imperial-knights.txt
  editor/mfm-source/necrons.txt
  editor/mfm-source/orks.txt
  editor/mfm-source/tau.txt
  editor/mfm-source/thousand-sons.txt
  editor/mfm-source/titans-chaos.txt
  editor/mfm-source/titans-imperial.txt
  editor/mfm-source/tyranids.txt
  editor/mfm-source/votann.txt
  editor/mfm-source/world-eaters.txt
Owners: @BSData/data-admins-wh40k

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
