Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #4954
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #5022
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Straken plasma pistol BS fix
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5023
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #5019
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #5021
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5010
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

SM bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Crusade relic logic improvements
  Genestealer Cults.cat
  Imperium - Imperial Knights - Library.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

Crusade tweaks
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Crusade tweaks
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5027
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Crusade tweaks
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Crusade tweaks
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Crusade tweaks
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Crusade tweaks
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Space Marines.cat
Owners: @CrusherJoe, @Thairne, @Mad-Spy, @acebaur

Crusade tweaks
  Leagues of Votann.cat
Owners: @Mad-Spy

Crusade UX tweak
  Orks.cat
Owners: @Dunamis55

Fixes #5024
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #5026
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5033
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Aeldari Codex content
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @BSData/data-admins-wh40k

Codex Crusade content
  Leagues of Votann.cat
Owners: @Mad-Spy

Black Templars Codex Crusade content
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

IF Detachment
  Imperium - Imperial Fists.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Linking BT Crusade content to Crusade menu
  Imperium - Space Marines.cat
Owners: @acebaur

BT Crusade hide logic fix for Reclaimed Relics
  Imperium - Space Marines.cat
Owners: @acebaur

Crusade Relic Upgrades
  Genestealer Cults.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @acebaur, @Mad-Spy, @BSData/data-admins-wh40k

Crusade Relic Upgrades
  Imperium - Agents of the Imperium.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Unaligned Forces.cat
Owners: @Mad-Spy, @acebaur, @FarseerVeraenthis, @Dunamis55

Crusade Relic Upgrades
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @Thairne, @FarseerVeraenthis, @acebaur

Crusade Relic Upgrades
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @CrusherJoe, @BSData/data-admins-wh40k

Crusade Relic Upgrades
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Imperial Knights - Library.cat
Owners: @Mad-Spy, @Dunamis55

Fixes #5046
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Crusade Relic Upgrades
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Crusade Relic Upgrades
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5047
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Enforce Be'lakor Supreme Commander rule
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

BT Crusade upgrades
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Some Space Marines consolidation tidy up
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

More SM consolidation tidy up
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
Owners: @acebaur, @FarseerVeraenthis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
