Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Force Armageddon card wording on remaining details
  Imperium - Space Marines.cat
  Orks.cat
Owners: @acebaur, @Dunamis55

Fixes #7363
  Genestealer Cults.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
Owners: @Dunamis55, @Thairne, @acebaur

Fixes #7361
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #7362
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Add option choice add/remove, multi-model unit creation, detachment editing
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
  editor/server.js
Owners: @BSData/data-admins-wh40k

Add Test/Validate button with baseline-relative validation + commit guard
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
  editor/public/index.html
  editor/public/style.css
  editor/server.js
Owners: @BSData/data-admins-wh40k

Fixes #7360
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #7366
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fix startup hang: remove external Google Fonts @import
  editor/public/datasheet-presentation/datasheet.css
Owners: @BSData/data-admins-wh40k

Add per-tab faceted filters for units, weapons and detachments
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
  editor/public/index.html
  editor/public/style.css
Owners: @BSData/data-admins-wh40k

Fix stray gold line: keep the modal hidden when [hidden] is set
  editor/public/style.css
Owners: @BSData/data-admins-wh40k

Show whether each unit weapon is default or an option
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
  editor/public/style.css
Owners: @BSData/data-admins-wh40k

Add Detachment Points (DP) cost type and apply to existing Space Marine detachments
  Imperium - Space Marines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Apply DP cost to faction-pack Space Marine detachments already in data
  Imperium - Space Marines.cat
Owners: @acebaur

Add Fulguris Task Force and Subversion Assets detachments (DP=1)
  Imperium - Space Marines.cat
Owners: @acebaur

Add stratagems to the 12 two-page Space Marine pack detachments
  Imperium - Space Marines.cat
Owners: @acebaur

Apply Teleport Homer erratum (9" -> 8") to Terminator squads
  Imperium - Space Marines.cat
Owners: @acebaur

Apply detachment rule/enhancement errata (Rules Updates)
  Imperium - Space Marines.cat
Owners: @acebaur

Add V11 faction-pack detachments and Detachment Points (DA/BA/SW/BT/GK)
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
Owners: @Dunamis55, @acebaur

Apply weapon AP errata stragglers (Combat Knife, pyreblaster -> AP -1)
  Imperium - Space Marines.cat
Owners: @acebaur

Add FRAME keyword to vehicle datasheets (Rules Updates)
  Imperium - Space Marines.cat
Owners: @acebaur

Apply flyer datasheet errata (Stormhawk/Stormtalon/Stormraven)
  Imperium - Space Marines.cat
Owners: @acebaur

Apply Ultramarines character errata (Tigurius, Uriel Ventris)
  Imperium - Ultramarines.cat
Owners: @acebaur

Apply V11 faction-pack Rules Updates (errata) to existing datasheets
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur, @FarseerVeraenthis, @Dunamis55

Apply Leader -> Support core-ability errata (BT, BA)
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Add FRAME keyword to faction-pack vehicles (errata)
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
Owners: @acebaur, @FarseerVeraenthis, @Dunamis55

Model new-detachment stratagems the same way as main
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
Owners: @Dunamis55, @acebaur

Make Fulguris/Subversion enhancements available to non-CHARACTER bearers
  Imperium - Space Marines.cat
Owners: @acebaur

Attach unit-targeted enhancements to their units (not CHARACTER-only)
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur

Uniformise stratagem headers: drop the stratagem category
  Imperium - Space Marines.cat
Owners: @acebaur

Make Argent Assault Terminator enhancements available to Paladins
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Share Thundercowl Turbines across the Ravenwing FLY units (1 per army)
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Uniformise all new unit-enhancements: one shared entry + entryLinks
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur

Attach Fulguris/Subversion unit-enhancements to their units
  Imperium - Space Marines.cat
Owners: @acebaur

Cap army enhancements at 4 (all factions)
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @CrusherJoe, @Thairne, @Dunamis55, @acebaur

Count unit-attached enhancements toward the army cap of 4
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur, @BSData/data-admins-wh40k

Set estimated point costs for the new detachment enhancements
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur

Lock old enhancements to non-Epic-Hero characters
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @CrusherJoe, @Thairne, @Dunamis55, @acebaur

editor: add enhancement targeting selector (who an enhancement applies to)
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
  editor/server.js
Owners: @BSData/data-admins-wh40k

Update detachment points (DP) for xenos factions (faction packs)
  Aeldari - Aeldari Library.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
