Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

June 2025 MFM
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

June 2025 Dataslate and MFM
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

June 2025 MFM
  Chaos - Death Guard.cat
Owners: @Mad-Spy

June 2025 MFM
  Necrons.cat
Owners: @Mad-Spy

June 2025 MFM
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

June 2025 Dataslate
  Leagues of Votann.cat
Owners: @Mad-Spy

Dataslate June 2025 updates
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

250604 Errata
  Chaos - Death Guard.cat
Owners: @Mad-Spy

MFM June 2025 updates
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

FAQ v1.2
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

New Raveners + Subterranean Assault detachment
  Tyranids.cat
Owners: @Dunamis55

Trygon category logic fix
  Tyranids.cat
Owners: @Dunamis55

Fixes #4419
  Orks.cat
Owners: @Dunamis55

Custodes&AdMech MFM
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

SM MFM/Dataslate
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

AdMech - Slate
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #4425
  T'au Empire.cat
Owners: @Dunamis55

June 2025 dataslate (#4420)
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Genestealer Cults.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55, @Thairne, @acebaur

Fixes
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4476
  Tyranids.cat
Owners: @Dunamis55

Raveners 4+ models points logic removal
  Tyranids.cat
Owners: @Dunamis55

Fixes #4478
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4477
  Tyranids.cat
Owners: @Dunamis55

Fixes Wrath of the Rock Enhancements
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4483
  Tyranids.cat
Owners: @Dunamis55

HyperRaveners missing ShadowInTheWarp
  Tyranids.cat
Owners: @Dunamis55

HyperRaveners unit/model fix
  Tyranids.cat
Owners: @Dunamis55

Fixes #4484
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

CK Codex
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Sororitas MFM and Battleslate
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4488
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4493
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4494
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4500
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
