Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Grotmas FAQ
  Chaos - Chaos Knights Library.cat
  Chaos - Thousand Sons.cat
  Necrons.cat
Owners: @Mad-Spy

Validation change
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #3073
  T'au Empire.cat
Owners: @Dunamis55

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #3072
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Fixes #3083
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #3081
  T'au Empire.cat
Owners: @Dunamis55

Coldstar Commander keyword fix
  T'au Empire.cat
Owners: @Dunamis55

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #3096
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #3085
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #3099
  T'au Empire.cat
Owners: @Dunamis55

Fixes #3102
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Adding Farsight/Ethereal custom error flag
  T'au Empire.cat
Owners: @Dunamis55

Fixes #3127
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Medi-pack FNP name fix
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

fixes #3120 add infantry keyword skitarii marshal
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #3140
  Chaos - Titanicus Traitoris.cat
Owners: @Mad-Spy

Switched to new validation scheme
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Switched over to new validation method
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Crusade sub-force limit error fix
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #3153
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

fixes #3120 add infantry keyword skitarii marshal (#3138)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #3148
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fix order of operations for point increases
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Switched to new validation scheme
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #3120 again
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne
