Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Added Battle Trait profile universal modifiers
  T'au Empire.cat
Owners: @Dunamis55

Crusade prep work/rejig for Crusade campaign books
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Crusade refactoring
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #3335
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Reworked Hearthkyn unit weapons
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #3373
  T'au Empire.cat
Owners: @Dunamis55

Minor fixes
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes disappearing Beastboss units
  Orks.cat
Owners: @Dunamis55

Fixes #3390
  Orks.cat
Owners: @Dunamis55

Fixes #3391
  Orks.cat
Owners: @Dunamis55

Crusade Implementation
  Tyranids.cat
Owners: @Dunamis55

Final Day / Crusade Tyranids root logic tidy up
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #3397
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Enhancements + Crusade interactions
  Tyranids.cat
Owners: @Dunamis55

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Battle Traits tidy up
  T'au Empire.cat
Owners: @Dunamis55

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Remove EC-related entries
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

First tranch of stuff
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Crusade Implementation
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

Fixes #3404
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3413
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3416
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3418
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3406
  Orks.cat
Owners: @Dunamis55

Fixes #3423
  T'au Empire.cat
Owners: @Dunamis55

UX improvements
  Imperium - Astra Militarum - Library.cat
  Tyranids.cat
Owners: @Dunamis55

Tyranid Warriors Onslaught OC modifier fix
  Tyranids.cat
Owners: @Dunamis55

Updated Noise Marines
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

More stuff
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Adding missing Battle Honours limits modifiers
  T'au Empire.cat
Owners: @Dunamis55

Crusade UX improvement
  T'au Empire.cat
Owners: @Dunamis55

Complete
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

fixes #3431
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Adding floor modifiers to Crusade Battle Scars
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Crusade Implementation
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Library - Astartes Heresy Legends.cat
Owners: @acebaur, @FarseerVeraenthis, @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
