Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Adepta Sororitas: add Chorus of Condemnation & Sacred Champions detachments
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Adepta Sororitas: add Sanctified Orators detachment (core)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Adepta Sororitas: wire enhancements for the three new detachments
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Adepta Sororitas: apply Faction Pack datasheet errata
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Adeptus Mechanicus: add the three new faction-pack detachments (cores)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adeptus Mechanicus: wire enhancements for the three new detachments
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adeptus Mechanicus: reconcile reprinted detachments (Eradication Cohort, Haloscreed Battle Clade)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adeptus Mechanicus: apply Faction Pack datasheet errata
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adepta Sororitas: reconcile reprinted Champions of Faith detachment
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Adeptus Custodes: add the three new faction-pack detachments (cores)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adeptus Custodes: wire enhancements for the three new detachments
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adeptus Custodes: reconcile reprinted detachments (Lions of the Emperor, Solar Spearhead)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adeptus Custodes: apply Faction Pack datasheet errata
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Imperial Knights: add Dominus Foebreakers & Throne-bonded Outriders detachments (cores)
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Imperial Knights: wire new-detachment enhancements + reconcile Questor Forgepact
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Imperial Knights: reconcile Freeblade Company + apply Faction Pack errata
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Astra Militarum: add Abhuman Auxiliaries & Designation Force detachments (cores)
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Astra Militarum: wire the four new-detachment Upgrades
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Astra Militarum: reconcile the four reprinted detachments
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Astra Militarum: apply Faction Pack datasheet errata
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Astra Militarum: trim Bridgehead Strike to the pack reprint
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Adeptus Custodes: apply missed Castellan's Mark enhancement errata
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Imperial Agents: complete Veiled Blade Elimination Force reconciliation
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #7374
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #7376
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Aeldari/Drukhari: gate the six ungated 1DP detachments by sub-faction
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Tyranids/GSC: move the three misplaced GSC detachments to the GSC group
  Library - Tyranids.cat
Owners: @Mad-Spy

Space Wolves: remove duplicate Wolf Guard Headtakers wrapper entry
  Imperium - Space Wolves.cat
Owners: @acebaur

Drukhari: fix Hand of the Archon datasheet typed as upgrade
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Chaos Daemons: gate Shadow Legion detachment abilities to the detachment
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

World Eaters: let any model carry the unit's Daemonic Icon
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Death Guard: let any model carry the unit's Daemonic Icon
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Chaos Daemons: let any model carry the unit's Daemonic Icon
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Emperor's Children: let any model carry the unit's Daemonic Icon
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

docs: app prompt for "1 model carries the upgrade" association handling
  CLAUDE.md
  editor/ICON_BEARER_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs: app prompt for "everything lands in Allied Units" (importRootEntries)
  CLAUDE.md
  editor/ALLIED_UNITS_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Chaos Daemons: let any model carry the Instrument of Chaos
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Death Guard: let any model carry the Instrument of Chaos
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Emperor's Children: let any model carry the Instrument of Chaos
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Thousand Sons: any-model Instrument of Chaos on Pink Horrors
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy
