Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5374
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5375
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5378
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Reinstate Legends models
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #5369
  Imperium - Adeptus Mechanicus.cat
  Imperium - Imperial Knights - Library.cat
  Warhammer 40,000.gst
Owners: @Thairne, @Dunamis55, @BSData/data-admins-wh40k

Fixes #5393
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Points adjustments
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Added Lady Malys
  Aeldari - Aeldari Library.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Faction Pack Legends changes
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Grot Tanks profile consolidation
  Orks.cat
Owners: @Dunamis55

Fixes #5379
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #5396
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5398
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #5392
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Imperial Knights.cat
Owners: @Mad-Spy, @Thairne, @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5413
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #5418
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Warboss on Squigosaur Headwoppa profile fix
  Orks.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5164
  Imperium - Black Templars.cat
Owners: @acebaur

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5440
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5427
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Minor fix
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5431
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Codex Datasheets Complete
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Codex Points
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5452
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
  Warhammer 40,000.gst
Owners: @CrusherJoe, @Mad-Spy, @BSData/data-admins-wh40k
