Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #6265
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
  Necrons.cat
Owners: @CrusherJoe, @Mad-Spy

Fixes #6236
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #6259
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #6270
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Initial Boarding Actions work
  Imperium - Astra Militarum.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights.cat
  T'au Empire.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

BA Fly Movement limits
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6268
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #6280
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Drone Commander typo fix
  Unaligned Forces.cat
Owners: @Dunamis55

Fixes #6290
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #6293
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6295
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #6297
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6302
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6301
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6307
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Add alias to Sullen Malevolence to allow ability link
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Disable monthly release issue workflow
  .github/workflows/ReleaseIssue.yml
Owners: @BSData/data-admins-wh40k

Fix Blue Horrors issues
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6340
  Necrons.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6365
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Marine Fixes
  Imperium - Blood Angels.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #6368
  Leagues of Votann.cat
Owners: @Mad-Spy

Improve squad weapon selections
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6369
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #6371
  Necrons.cat
Owners: @Mad-Spy

Fixing Blood Angels association names
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #6274
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6282
  Orks.cat
Owners: @Dunamis55

Fixes #6283
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6316
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6358
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6378
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6392
  Orks.cat
Owners: @Dunamis55

Update Imperium - Agents of the Imperium.cat
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

20260211 Updates
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

20260211 Updates
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

20260211 Updates
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

20260211 Updates
  Leagues of Votann.cat
Owners: @Mad-Spy
