Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

MFM now included
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fix Retinue limits
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Add Voidfarer Character to Rogue Traders for validation
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fix points cost of Haloscreed's Inloaded Lethality enhancement.
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #2730
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Imperial Knights Grotmas Detachment
  Imperium - Imperial Knights - Library.cat
  Imperium - Imperial Knights.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #2724
  Genestealer Cults.cat
Owners: @Dunamis55

DA Dataslate changes I missed
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Grotmas Detachments
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
Owners: @Mad-Spy

Default Detachment set to None
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

Grotmas - Reaper's Wager
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Reaping
  Aeldari - Aeldari Library.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

More Reaping
  Aeldari - Aeldari Library.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Grotmas - Armoured Warhost
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Update Imperium - Ultramarines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #2741
  Imperium - Imperial Knights.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

SM Bugs
  Imperium - Blood Angels.cat
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Filthy SM Witch Detachment
  Imperium - Space Marines.cat
Owners: @acebaur

Grotmas Detachment
  Leagues of Votann.cat
Owners: @Mad-Spy

GSC Grotmas Detachment
  Genestealer Cults.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #2739
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2736
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixse #2779
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #2789
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #2795
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #2794
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2806
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #2792
  Leagues of Votann.cat
Owners: @Mad-Spy

Grotmas Detachment
  T'au Empire.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis
