Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Aeldari Troupe: corrige les points par taille (conditions inversées)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Aeldari Troupe: échanges d'arme indépendants (mêlée vs pistolet)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

docs(app): prompt capacités de datasheet au niveau modèle
  CLAUDE.md
  editor/MODEL_ABILITIES_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Aeldari Troupe: armes en compteurs indépendants (modulaire) au lieu de menus
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Thousand Sons: Tzaangors Battleline aussi sous Servants of Change
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

docs(app): référence complète de parsing BSData + prompts Battleline/Weapon-slots
  CLAUDE.md
  editor/BATTLELINE_GRANT_APP_PROMPT.md
  editor/BSDATA_PARSING_REFERENCE.md
  editor/WEAPON_SLOTS_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs(app): jeu de cas de test du parseur (idiome par idiome)
  editor/PARSER_TEST_CASES.md
  editor/parser-test-cases.json
Owners: @BSData/data-admins-wh40k

test(parser): add blind-spot cases for un-audited idioms
  editor/PARSER_TEST_CASES.md
  editor/parser-test-cases.json
Owners: @BSData/data-admins-wh40k

docs(app-prompt): how to read ALL rules of a detachment
  editor/DETACHMENT_RULES_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

CSM: add missing SUPPORT core ability to Masters of the Maelstrom
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Add missing SUPPORT core ability to 25 datasheets (per 11e MFM)
  Aeldari - Aeldari Library.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
  Orks.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @acebaur

Revert 3 SUPPORT mis-tags: keyword is per-faction in the MFM
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Astra Militarum - Library.cat
Owners: @Mad-Spy, @CrusherJoe, @Dunamis55

Add structured Can Lead (MFM) groups to 77 leaders (per 11e MFM)
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Blood Angels.cat
  Imperium - Grey Knights.cat
  Leagues of Votann.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @acebaur

Add structured Can Support (MFM) groups to 36 SUPPORT units
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Space Marines.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
  Necrons.cat
  Orks.cat
  editor/LEADER_LINKS_APP_PROMPT.md
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur, @BSData/data-admins-wh40k

docs(app-prompt): how to recognize SUPPORT models (core ability via infoLink)
  editor/SUPPORT_KEYWORD_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Forgefiend: price ectoplasma cannons (+5/cannon per MFM)
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Imperial Agents: price psycannon (+5) and twin multi-melta (+15)
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

CSM: add missing points cost to Kravek Morne (120 pts)
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

SM detachments: per-chapter DP via primary-catalogue (Stormlance, Bastion)
  Imperium - Space Marines.cat
Owners: @acebaur

docs: chapter-cost also applies to detachment DP (Stormlance/Bastion)
  editor/MARINE_CHAPTER_COST_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs(app-prompt): per-sub-chapter detachment DP
  editor/DETACHMENT_DP_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Orks: fix Breaka Boyz Boss Nob default loadout (1 rokkit + 1 smash, not 2 smash)
  Orks.cat
Owners: @Dunamis55

Orks: default loadout for Mega Dread / Meka-Dread [Legends] count-groups
  Orks.cat
Owners: @Dunamis55

Set default weapon (defaultSelectionEntryId) on 50 single-pick weapon groups
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Leagues of Votann.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @acebaur

Set defaultAmount on count-based weapon groups (Ravager 3x dark lance, etc.)
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Knights Library.cat
  Imperium - Adeptus Custodes.cat
  Leagues of Votann.cat
  Library - Astartes Heresy Legends.cat
  Library - Titans.cat
  Orks.cat
  Unaligned Forces.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Thairne, @Dunamis55

docs(app-prompt): display a model's default weapon loadout (count groups)
  editor/DEFAULT_LOADOUT_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs(MFM_APP): marquer l'encodage de répétition `(additional)` obsolète
  editor/MFM_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Grey Knights: marqueurs sim-mod (pilote simulateur de dégâts)
  CLAUDE.md
  Imperium - Grey Knights.cat
  editor/SIM_MOD_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k, @Dunamis55

doc(sim-mod): portée par arme réelle (mods.byWeapon) + surlignage vert
  editor/SIM_MOD_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Grey Knights: marqueur sim-mod sur l'amélioration Boons of Deimos
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Toutes factions: marqueurs sim-mod sur capacités et améliorations offensives
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Fists.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
  Leagues of Votann.cat
  Library - Astartes Heresy Legends.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Unaligned Forces.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur

readme update
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k
