Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Genestealer Cults: points MFM (MFM en ligne, juin 2026)
  Genestealer Cults.cat
  Library - Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

Leagues of Votann: points MFM (MFM en ligne, juin 2026)
  Leagues of Votann.cat
Owners: @Mad-Spy

data: sources MFM marines (Black Templars, Blood Angels, Dark Angels, Deathwatch)
  editor/mfm-source/black-templars.txt
  editor/mfm-source/blood-angels.txt
  editor/mfm-source/dark-angels.txt
  editor/mfm-source/deathwatch.txt
Owners: @BSData/data-admins-wh40k

data: sources MFM marines (Space Marines + sous-chapitres, Space Wolves) + pipeline
  editor/mfm-source/_tools/apply.js
  editor/mfm-source/_tools/capcheck.js
  editor/mfm-source/_tools/parse_mfm.js
  editor/mfm-source/_tools/unsplit.js
  editor/mfm-source/space-marines.txt
  editor/mfm-source/space-wolves.txt
Owners: @BSData/data-admins-wh40k

Death Guard: points MFM (MFM en ligne, juin 2026)
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Thousand Sons: points MFM (MFM en ligne, juin 2026)
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Emperor's Children: points MFM (MFM en ligne, juin 2026)
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

World Eaters: points MFM (MFM en ligne, juin 2026)
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Imperial Knights: points MFM (MFM en ligne, juin 2026)
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Tyranids: points MFM (MFM en ligne, juin 2026)
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55

docs(app): prompt mots-clefs UNIQUE de détachement (exclusivité mutuelle)
  CLAUDE.md
  editor/UNIQUE_DETACHMENT_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

T'au Empire: points MFM (MFM en ligne, juin 2026)
  T'au Empire.cat
Owners: @Dunamis55

Aeldari: points MFM (MFM en ligne, juin 2026)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Drukhari: points MFM (MFM en ligne, juin 2026)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Adeptus Mechanicus: points MFM (MFM en ligne, juin 2026)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Necrons: points MFM (MFM en ligne, juin 2026)
  Necrons.cat
Owners: @Mad-Spy

Adeptus Mechanicus: corrige Ironstrider (modèles 80/90 + repeat-cost sur la bonne entrée)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Astra Militarum: points MFM (MFM en ligne, juin 2026)
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Chaos Daemons: points MFM (MFM en ligne, juin 2026)
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Space Marines: points MFM (MFM en ligne, juin 2026)
  Imperium - Imperial Fists.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
Owners: @acebaur

Orks: réintègre le Runtherd dans la datasheet Gretchin
  Orks.cat
Owners: @Dunamis55

Black Templars: points MFM (MFM en ligne, juin 2026)
  Imperium - Black Templars.cat
Owners: @acebaur

Dark Angels: points MFM (MFM en ligne, juin 2026)
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Deathwatch: points MFM (MFM en ligne, juin 2026)
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Space Wolves: points MFM (MFM en ligne, juin 2026)
  Imperium - Space Wolves.cat
Owners: @acebaur

Blood Angels: points MFM (MFM en ligne, juin 2026)
  Imperium - Blood Angels.cat
Owners: @acebaur

Space Marines: surcoûts par chapitre des unités du tronc commun (primary-catalogue)
  CLAUDE.md
  Imperium - Space Marines.cat
  editor/MARINE_CHAPTER_COST_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k, @acebaur

Imperial Agents: points MFM (MFM en ligne, juin 2026)
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Détachements : marqueurs UNIQUE (exclusivité mutuelle)
  Aeldari - Aeldari Library.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @CrusherJoe, @Thairne, @Dunamis55, @acebaur

Space Marines & chapitres : liens chef -> unités menées (MFM)
  CLAUDE.md
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Imperial Fists.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
  editor/LEADER_LINKS_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k, @acebaur, @FarseerVeraenthis

outils MFM: rafraîchit le pipeline d'intégration (_tools) + README
  editor/mfm-source/_tools/README.md
  editor/mfm-source/_tools/apply.js
  editor/mfm-source/_tools/extract_unique.js
  editor/mfm-source/_tools/leader_analyze.js
  editor/mfm-source/_tools/leader_write.js
  editor/mfm-source/_tools/override.js
  editor/mfm-source/_tools/parse_mfm.js
  editor/mfm-source/_tools/unique_apply.js
  editor/mfm-source/_tools/val.js
Owners: @BSData/data-admins-wh40k

Liens chef -> unités menées : toutes factions (source prose datasheet)
  Aeldari - Aeldari Library.cat
  CLAUDE.md
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Fists.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  editor/LEADER_LINKS_APP_PROMPT.md
  editor/mfm-source/_tools/README.md
  editor/mfm-source/_tools/prose_links.js
Owners: @FarseerVeraenthis, @BSData/data-admins-wh40k, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur

Imperial Agents: corrige le texte de l'enhancement Intraneural Biotech
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Space Marines: ajoute l'enhancement Temporal Corridor (Librarius Conclave)
  Imperium - Space Marines.cat
Owners: @acebaur

Chaos Space Marines: points MFM (MFM en ligne, juin 2026)
  Chaos - Chaos Space Marines.cat
  editor/mfm-source/_tools/unique_apply.js
  editor/mfm-source/chaos-space-marines.txt
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Chaos Knights: points MFM (MFM en ligne, juin 2026)
  Chaos - Chaos Knights Library.cat
  editor/mfm-source/chaos-knights.txt
Owners: @Mad-Spy, @BSData/data-admins-wh40k

docs(app): coût d'arme par modèle (×N porteurs) — UNIT_COMPOSITION_APP_PROMPT
  editor/UNIT_COMPOSITION_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

"and" to "an" - Spelling mistage for "Recount the Deeds of the Saints"
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

T'au: défauts d'arme gratuits (Crisis Fireknife/Starscythe)
  T'au Empire.cat
Owners: @Dunamis55

Aeldari: capacités datasheet au niveau de l'unité (Skyweavers, War Walkers)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
