Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #4503
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4505
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4506
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Fixes #4509
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Modifiers for Enhancements
  Necrons.cat
Owners: @Mad-Spy

Fixes
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

FIx Nurgling inv save
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #4516
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Modifier for Enhancement
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4519
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4517
  T'au Empire.cat
Owners: @Dunamis55

Fixes #4515
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4518
  Tyranids.cat
Owners: @Dunamis55

Fixes #4526
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4499
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #4528
  Genestealer Cults.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4548
  Chaos - Chaos Space Marines.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4547
  Necrons.cat
Owners: @Mad-Spy

Fixes
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Legends cleanup
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4556
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Revert Legends Changes
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fix Bloodthirster aura text
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Remove Dark Pacts from Noise Marines
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fix Sanctifier visibility
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Add Acts of Faith to Battle Sisters
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Points and IA update
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #4570
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Update Mageera ability text
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4576
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #4589
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4587
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Chaos Knights Codex (#4574)
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

June 2025 Index updates
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #4590
  Genestealer Cults.cat
Owners: @Dunamis55
