Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #2545
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fix profile name
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Iconoclast Fiefdom
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Fix Enhancement visibility
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #2586
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixed a load of stuff
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Haloscreed Battleclade added
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #2588
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

MFM Changes
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Imperium - Agents of the Imperium.cat
  Leagues of Votann.cat
  Necrons.cat
Owners: @Mad-Spy

Balance Dataslate changes
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Agents of the Imperium.cat
  Necrons.cat
Owners: @Mad-Spy

Fixes #2613
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Dark Angels MFM and Dataslate
  Imperium - Dark Angels.cat
  Imperium - Space Marines.cat
Owners: @FarseerVeraenthis, @acebaur

MFM v1.14 & BDS Q4 2024
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

Grotmas Detachment
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #2615
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #2601
  Orks.cat
Owners: @Dunamis55

Fixes #2642
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Forgot to save
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Add Legends DAMNED
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Ratlings Datasheet
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

Breaka Boyz datasheet
  Orks.cat
Owners: @Dunamis55

Adeptus Custodes Detachment & Slate
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Dataslate and MFM - SM
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Imperial Fists.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
Owners: @acebaur

updating costs of enhancements
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #2674
  Imperium - Grey Knights.cat
Owners: @Dunamis55

New Tankbustas
  Orks.cat
Owners: @Dunamis55

Grotmas Detachment
  Orks.cat
Owners: @Dunamis55

MFM and Dataslate
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes
  Imperium - Dark Angels.cat
  Imperium - Space Marines.cat
Owners: @FarseerVeraenthis, @acebaur

Fixes #2690
  Leagues of Votann.cat
Owners: @Mad-Spy

MFM
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #2694
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Grotmas Detachment
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Detachment Keywords tidy up
  Orks.cat
  Tyranids.cat
Owners: @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
