Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6808
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

NR bug readme alert
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #6842
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6856
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #6801
  Necrons.cat
Owners: @Mad-Spy

#6545
  Chaos - Chaos Space Marines.cat
  Necrons.cat
Owners: @Mad-Spy

Fixes #6864
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6883
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6896
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #6897
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

MFM Readme update
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

MFM / Faction Pack April updates
  Imperium - Imperial Knights - Library.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

MFM / Faction Pack April 2026 updates
  Imperium - Adeptus Mechanicus.cat
  Warhammer 40,000.gst
Owners: @Thairne, @BSData/data-admins-wh40k

Hastarii Fusiliers
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Force limit corrections
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Correct points for Omnissiah's Fury
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #6916
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

All my April changes
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Agents of the Imperium.cat
  Leagues of Votann.cat
  Necrons.cat
Owners: @Mad-Spy

Fixes
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6926
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6927
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6931
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Incorrect rule on Defiler shearing claws
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6922
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #6933
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #6932
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6925
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6880
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55

Closes #6910
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Fixes #6771
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6888
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #6955
  Imperium - Adeptus Custodes.cat
Owners: @Thairne
