Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Reclassify 3 unit-bearer enhancements as Upgrades (rename + multi-copy)
  Imperium - Dark Angels.cat
  Imperium - Space Wolves.cat
Owners: @FarseerVeraenthis, @acebaur

Normalize enhancement menus: merge duplicated blocks, single army cap of 4
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @CrusherJoe, @Thairne, @Dunamis55, @acebaur

Pirate Prince: documented Epic exception, attached directly to Prince Yriel
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Encode the GW unit-bearer exceptions as direct attachments
  Aeldari - Aeldari Library.cat
  Imperium - Astra Militarum - Library.cat
Owners: @FarseerVeraenthis, @Dunamis55

docs: add reusable faction-pack integration prompt
  editor/FACTION_PACK_PROMPT.md
Owners: @BSData/data-admins-wh40k

docs: root CLAUDE.md + README pointer to the faction-pack prompt
  CLAUDE.md
  editor/README.md
Owners: @BSData/data-admins-wh40k

Chaos packs: DP + Force Disposition on the 53 existing detachments (7 factions)
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #7371
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

World Eaters: integrate Faction Pack v1.0 new detachments
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Death Guard: integrate Faction Pack v1.0 new detachments
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Chaos Space Marines: integrate Faction Pack v1.0 new detachments
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Thousand Sons: integrate Faction Pack v1.0 new detachments
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Emperor's Children: integrate Faction Pack v1.0 new detachments
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Chaos Knights: integrate Faction Pack v1.0 new detachments
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Chaos Daemons: integrate Faction Pack v1.0 new detachments
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Chaos packs: add v1.0 stratagems for the 21 new detachments (7 factions)
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Restore pre-v1.0 stub enhancements dropped during pack integration
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

World Eaters: apply Faction Pack v1.0 rules updates (datasheets + rules)
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Death Guard: apply Faction Pack v1.0 rules updates
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Emperor's Children: apply Faction Pack v1.0 rules updates
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Chaos Knights: apply Faction Pack v1.0 rules updates
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Thousand Sons: apply Faction Pack v1.0 rules updates
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Chaos Space Marines: apply Faction Pack v1.0 rules updates
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Thousand Sons: add Hexwarp Thrallband codex stratagems (6)
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Chaos Knights: add Helhunt Lance codex stratagems (6)
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Emperor's Children: add Court of the Phoenician codex stratagems (6)
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Chaos Space Marines: add the 6 reprinted detachments' stratagems (36)
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

docs: prompts MFM — intégration des points + adaptation des apps
  CLAUDE.md
  editor/MFM_APP_PROMPT.md
  editor/MFM_PROMPT.md
Owners: @BSData/data-admins-wh40k

lib: splitRepeatTier — prix par seuil de répétition (entrée scindée)
  CLAUDE.md
  editor/MFM_APP_PROMPT.md
  editor/MFM_PROMPT.md
  editor/lib/catalog.js
Owners: @BSData/data-admins-wh40k

docs(MFM_APP_PROMPT): exigences d'évaluation des modifiers hidden
  editor/MFM_APP_PROMPT.md
Owners: @BSData/data-admins-wh40k

Chaos Knights: Houndpack Lance enhancements gated to designated War Dogs
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Adeptus Custodes: fix Solar Spearhead designated-walker enhancements
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adeptus Custodes: Solar Spearhead menu links keyed on the designation
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Imperial Agents: Detachment Points + Force Disposition (faction pack v1.1)
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Imperial Agents: apply Faction Pack v1.1 datasheet errata
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Adeptus Mechanicus: Detachment Points + Force Disposition (existing detachments)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adeptus Custodes: Detachment Points + Force Disposition (existing detachments)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Adepta Sororitas: Detachment Points + Force Disposition (existing detachments)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Astra Militarum: Detachment Points + Force Disposition (existing detachments)
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Imperial Knights: Detachment Points + Force Disposition (existing detachments)
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
