Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #4813
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4826
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Harlequin character limit fixes for Crusade
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4891
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4922
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4922
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4913
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur

Crusade Detachment support fix
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Leagues of Votann.cat
  Necrons.cat
Owners: @Mad-Spy, @CrusherJoe, @Thairne, @Dunamis55

Update Leagues of Votann.cat
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4928
  Leagues of Votann.cat
Owners: @Mad-Spy

Crusade performance improvements
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crusade performance improvements
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Crusade performance improvements
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Crusade performance improvements
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4933
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Crusade performance improvements
  Imperium - Imperial Knights - Library.cat
  Library - Titans.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @Mad-Spy, @BSData/data-admins-wh40k

Crusade performance improvements
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Crusade performance improvements
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Crusade performance improvements
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Crusade performance improvements
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Crusade performance improvements
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Crusade performance improvements
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Crusade performance improvements
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
Owners: @acebaur, @FarseerVeraenthis

Fixes #4935
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Crusade performance improvements
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Crusade performance improvements
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Crusade performance improvements
  Imperium - Agents of the Imperium.cat
  Imperium - Imperial Knights - Library.cat
Owners: @Mad-Spy, @Dunamis55

Crusade performance improvements
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crusade performance improvements
  Genestealer Cults.cat
Owners: @Dunamis55

Crusade performance improvements
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4938
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4937
  Imperium - Space Marines.cat
Owners: @acebaur

Crusade performance improvements
  Necrons.cat
Owners: @Mad-Spy

Crusade performance improvements
  Orks.cat
Owners: @Dunamis55

Crusade performance improvements
  T'au Empire.cat
Owners: @Dunamis55

Crusade performance improvements
  Tyranids.cat
Owners: @Dunamis55

Crusade codex content
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Fixes #4940
  Imperium - Space Wolves.cat
Owners: @acebaur

SW Codex Crusade content + BA link error fixes
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Tyrannic War Crusade campaign contents
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Dark Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Titans.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur, @BSData/data-admins-wh40k
