Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

20250709 Updates
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Crusade Implementation
  Necrons.cat
Owners: @Mad-Spy

Fixes #4684
  Necrons.cat
Owners: @Mad-Spy

Fixes #4683
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4691
  Necrons.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - Titanicus Traitoris.cat
  Imperium - Adeptus Titanicus.cat
  Library - Titans.cat
Owners: @Mad-Spy

Crusade Implementation
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Adding Power Sources tracking for Crusade
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

SW updates
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

SW bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

more SW bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Wulfen bug
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4730
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Crusade Implementation
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #4746
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4747
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Crusade Implementation
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4751
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4750
  Tyranids.cat
Owners: @Dunamis55

Fixes #4755
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Missing Ancient keyword
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4757
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Crusade Implementation
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Agents Allied Crusade campaign content
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Titanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights.cat
  Imperium - Space Marines.cat
Owners: @CrusherJoe, @Thairne, @Mad-Spy, @Dunamis55, @acebaur

DW KT rejig for Crusade support
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Missing Min 1 fix
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Crusade Implementation
  Leagues of Votann.cat
Owners: @Mad-Spy

Weapon Mod Crusade hide fix
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Weapon Mod hide optimise
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Crusade Implementation
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

BT first pass
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

More BT
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Seersight Strike hidden logic fix
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis
