Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Balance Dataslate 12-10-2025 Updates (#5932)
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Dataslate and MFM
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Grotmas 2025 (#5935)
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

MFM 20251210
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

MFM 20251210
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

MFM 20251210
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Forgot Rubric change
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

MFM 20251210
  Chaos - Death Guard.cat
Owners: @Mad-Spy

MFM 20251210
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

MFM 20251210
  Leagues of Votann.cat
Owners: @Mad-Spy

MFM 20251210
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #5914
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Errata 20251210
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

More changes
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

AdMech update for MFM 2025-12-10
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Tau MFM 20251210
  T'au Empire.cat
Owners: @Dunamis55

Custodes - Adjusted points for munitorum field manual 12-10-2025
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Revision number change
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #5950
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #5910
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

MFM Dec 2025 changes
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

Imp Knights FAQ v1.1 changes
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5939
  Library - Tyranids.cat
Owners: @Mad-Spy

Fixes #5930
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

MFM SM points
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
Owners: @acebaur

SM bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Library - Astartes Heresy Legends.cat
Owners: @acebaur, @Mad-Spy

AdMech update for MFM 2025-12-10 (#5942)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Custodes - Adjusted points for munitorum field manual 12-10-2025 (#5954)
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

SM Detachments
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6009
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6010
  Genestealer Cults.cat
Owners: @Dunamis55
