Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #5772
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5791
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #5795
  Imperium - Space Marines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Fixes #5804
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #6015
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Manual Aeldari Grotmas branch merge
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6028
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6038
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #6037
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6043
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6048
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Pariah Nexus White Dwarf Relics
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Added comments for Drones to export properly in NR
  T'au Empire.cat
Owners: @Dunamis55

Update Gravis Veteran movement to 5"
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

White Dwarf Crusade rules
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6051
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

White Dwarf Kroot rules
  T'au Empire.cat
Owners: @Dunamis55

Kroot Crusade Relics
  T'au Empire.cat
Owners: @Dunamis55

Gifts of the Prescient currency fixes
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fix
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

White Dwarf Crusade Rules
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

GSC White Dwarf Crusade rules
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #6075
  T'au Empire.cat
Owners: @Dunamis55

SM bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6091
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6096
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6111
  Library - Tyranids.cat
Owners: @Mad-Spy

Fixes Grav-Pistol keywords typo
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #6142
  Library - Tyranids.cat
Owners: @Mad-Spy

Fixes #6150
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6152
  Tyranids.cat
Owners: @Dunamis55

Fixes #6162
  T'au Empire.cat
Owners: @Dunamis55

SM bugs
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6027
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #6146
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
