Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Added Ostromandeus
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5477
  Imperium - Grey Knights.cat
Owners: @Dunamis55

SM Bug Stomper
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #5485
  Orks.cat
Owners: @Dunamis55

Fixes #5483
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #5410
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #5490
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Drukhari Legends
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Add new Deathwatch team
  Imperium - Agents of the Imperium.cat
  Imperium - Deathwatch.cat
Owners: @Mad-Spy, @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Black Templars.cat
  Imperium - Black Templars.cat
Owners: @acebaur

Update Imperium - Black Templars.cat
  Imperium - Black Templars.cat
Owners: @acebaur

Decimus Kill Team Fixes
  Imperium - Agents of the Imperium.cat
  Imperium - Deathwatch.cat
Owners: @Mad-Spy, @FarseerVeraenthis

More Decimus stuff
  Imperium - Agents of the Imperium.cat
  Imperium - Deathwatch.cat
Owners: @Mad-Spy, @FarseerVeraenthis

Fixes #5507
  Necrons.cat
Owners: @Mad-Spy

Fixes #5518
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Added new Kill Team units
  Necrons.cat
Owners: @Mad-Spy

Fixes #5520
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #5522
  Necrons.cat
Owners: @Mad-Spy

Fixes #5527
  Necrons.cat
Owners: @Mad-Spy

Fixes #5523
  Necrons.cat
Owners: @Mad-Spy

Fixes #5526
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #5525
  Genestealer Cults.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

SM IH, WS detachments and bugs
  Imperium - Black Templars.cat
  Imperium - Iron Hands.cat
  Imperium - Space Marines.cat
  Imperium - White Scars.cat
Owners: @acebaur

Fixes #5542
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5544
  Imperium - White Scars.cat
Owners: @acebaur

Tyranids Library creation
  Genestealer Cults.cat
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

Update Imperium - White Scars.cat
  Chaos - Chaos Space Marines.cat
  Genestealer Cults.cat
  Imperium - White Scars.cat
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55, @acebaur

Update Imperium - White Scars.cat
  Imperium - White Scars.cat
Owners: @acebaur

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
