Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #3967
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

SM Bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #3973
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3982
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

EC Fixes
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3991
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #4008
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #3855 (#3962)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #3840
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #4030
  Orks.cat
Owners: @Dunamis55

Fixes #4035
  Genestealer Cults.cat
Owners: @Dunamis55

WE and DG Codex release
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Berzerker fix
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Blightlord fix
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Blightlords were still broken
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Update Chaos - World Eaters.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4077
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4064
  Chaos - Death Guard.cat
Owners: @Mad-Spy

SM bugs
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

DG Fixes
  Chaos - Death Guard.cat
Owners: @Mad-Spy

WE Fixes
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4085
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4049
  Orks.cat
Owners: @Dunamis55

WE Fixes
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4157
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes Marks of Chaos
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4178
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Points update
  Chaos - Chaos Daemons Library.cat
  Chaos - Death Guard.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4182
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4169
  Orks.cat
Owners: @Dunamis55

Fixes #4184
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4185
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #4189
  Necrons.cat
Owners: @Mad-Spy

update points for WE
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4193
  Orks.cat
Owners: @Dunamis55

Fixes #4199
  Chaos - World Eaters.cat
Owners: @Mad-Spy
