Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #6120
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6175
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Detachments changed to Rules
  Library - Tyranids.cat
Owners: @Mad-Spy

Detachments changed to Rules
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6180
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6181
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Chaos - Chaos Space Marines.cat
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6182
  Imperium - Grey Knights.cat
Owners: @Dunamis55

MFM 20260107
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Balance Dataslate v3.3
  Orks.cat
Owners: @Dunamis55

20250107 Update
  Necrons.cat
Owners: @Mad-Spy

20250107 Update
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

20250107 Faction Pack Changes
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6183
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6185
  Necrons.cat
Owners: @Mad-Spy

Necron Bugs
  Necrons.cat
Owners: @Mad-Spy

Fixes #6195
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6199
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Celestian Insidiants
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #6203
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6200
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #6204
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #6209
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Dead Brutal correct wording
  Orks.cat
Owners: @Dunamis55

Fixes #6212
  Necrons.cat
Owners: @Mad-Spy

New Detachmentrs
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6217
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6214
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Update Imperium - Ultramarines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6246
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #6245
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #6226
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #6240
  Imperium - Adeptus Custodes.cat
  Warhammer 40,000.gst
Owners: @Thairne, @BSData/data-admins-wh40k

Switch Detachment rules to be Rules
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6223
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6257
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #6261
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Typo fixes
  Orks.cat
  Tyranids.cat
Owners: @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
