Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #7250
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #7250
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Titanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum.cat
  Imperium - Space Marines.cat
Owners: @CrusherJoe, @Thairne, @Mad-Spy, @Dunamis55, @acebaur

Fixes #7250
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #7258
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #7259
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #7318
  Chaos - Chaos Space Marines.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #7321
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #7260
  Imperium - Adeptus Custodes.cat
  Imperium - Astra Militarum - Library.cat
  Library - Tyranids.cat
Owners: @Thairne, @Dunamis55, @Mad-Spy

Fixes #7268
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #7282
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #7292
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #7295
  Imperium - Grey Knights.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #7301
  T'au Empire.cat
Owners: @Dunamis55

Fixes #7310
  Imperium - Imperial Knights - Library.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #7020
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Speed Freeks ability indexing fix
  Orks.cat
Owners: @Dunamis55

Fixes #7324
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #7333
  Library - Tyranids.cat
Owners: @Mad-Spy

AM Crucible characters
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #7335
  Genestealer Cults.cat
Owners: @Dunamis55

Tank Ace refactor + Heretic units
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #7347
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #7242
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #7346
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #7311
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Orks: add Armageddon units and refresh Warboss/Painboy datasheets
  Orks.cat
Owners: @Dunamis55

Orks: rewrite Boyz and Gretchin to the Armageddon datasheets
  Orks.cat
Owners: @Dunamis55

Core rules DB: add Cleave, Close-Quarters and Support; refresh Blast
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Core rules DB: add core stratagems and core-rules reference
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Space Marines: add Captain with Relic Shield and Land Speeder
  Imperium - Space Marines.cat
Owners: @acebaur

Space Marines: refresh Chaplain with Jump Pack and Ancient to Armageddon cards
  Imperium - Space Marines.cat
Owners: @acebaur

Space Marines: box-card refresh + Eradicator Squad with Heavy Bolters
  Imperium - Space Marines.cat
Owners: @acebaur

Space Marines: refresh Vanguard Veterans with Jump Packs to box loadout
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #7354
  Imperium - Space Wolves.cat
Owners: @acebaur

Add Cogitator Editorius: GUI editor for wh40k catalogue data
  .gitignore
  editor/README.md
  editor/lib/catalog.js
  editor/lib/xml.js
  editor/public/app.js
  editor/public/index.html
  editor/public/style.css
  editor/server.js
Owners: @BSData/data-admins-wh40k

Integrate Cogitator Bellicum datasheet presentation as live preview
  editor/lib/catalog.js
  editor/public/app.js
  editor/public/datasheet-presentation/EXAMPLES.md
  editor/public/datasheet-presentation/README.md
  editor/public/datasheet-presentation/datasheet-rules.js
  editor/public/datasheet-presentation/datasheet.css
  editor/public/datasheet-presentation/example.unit.json
  editor/public/datasheet-presentation/index.js
  editor/public/datasheet-presentation/labels.js
  editor/public/datasheet-presentation/loadout.js
  editor/public/datasheet-presentation/markup.js
  editor/public/datasheet-presentation/render.js
  editor/public/datasheet-presentation/theme.js
  editor/public/index.html
  editor/public/style.css
Owners: @BSData/data-admins-wh40k

Update editor README for integrated datasheet preview
  editor/README.md
Owners: @BSData/data-admins-wh40k

Space Marines: fix Vanguard Veterans melee to D2 master-crafted power weapon
  Imperium - Space Marines.cat
Owners: @acebaur

Add inline weapon editing, composition/options editing, unit auto-attach
  editor/README.md
  editor/lib/catalog.js
  editor/public/app.js
Owners: @BSData/data-admins-wh40k

Datasheets pass: link Cleave/Close-Quarters weapons, fix Support keywords
  Imperium - Space Marines.cat
  Orks.cat
Owners: @acebaur, @Dunamis55
