Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #4201
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4202
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4208
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4203
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4209
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4218
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4223
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4222
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #4229
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Terminators fix
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #4239
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4224
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Added Unaligned
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

SM bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4266
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

CSM FIx
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Thousand Sons
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Update Chaos - Thousand Sons.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4362
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #4358
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4398
  Tyranids.cat
Owners: @Dunamis55

Fixes #4243
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4404
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4402
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

250604 Errata
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Cabal of Chaos
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Dataslate and MFM updates
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

typo fix
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

MFM - Sisters
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4417
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
