Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

feat: added freeboterz krew detach and enhancements
  Orks.cat
Owners: @Dunamis55

fix: typo
  Orks.cat
Owners: @Dunamis55

MFM Feb 2026 Updates
  Imperium - Astra Militarum - Library.cat
  Orks.cat
Owners: @Dunamis55

Fixes #6404
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6407
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

CSM Crucible
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

WE Crucible
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Yriel & Eldritch Raiders
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Craftworlds.cat
  Aeldari - Craftworlds.cat
Owners: @FarseerVeraenthis

Fixes #6427
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6428
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crusade Force no longer exportable fix
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6451
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6455
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #6445
  Unaligned Forces.cat
Owners: @Dunamis55

Split out weapon and wargear on Lychguard
  Necrons.cat
Owners: @Mad-Spy

Forgot constraints on the shield
  Necrons.cat
Owners: @Mad-Spy

More Crucible stuff
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Fixes #6453
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fix styling typo
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #6457
  Orks.cat
Owners: @Dunamis55

Fixes #6461
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6460
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Legacy Super-heavy Walker ability variants
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #6464
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #6459
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

More Crucible stuff
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

SM bugs
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #6467
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
Owners: @CrusherJoe, @Mad-Spy

Fixes Obdurate Obedience scope
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #6469
  Necrons.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
