Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #3460
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3449
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3455
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Formatting Gorgon keywords
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Daemonette OC change
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Typo
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3464
  T'au Empire.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #3483
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Noise Marines fixes
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3487
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3495
  Orks.cat
Owners: @Dunamis55

Crusade Implementation
  Imperium - Grey Knights.cat
Owners: @Dunamis55

UX improvement
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crusade with allies logic fix
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Added comments for clarity
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crusade Detachment hide logic
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crusade Implementation
  Imperium - Imperial Knights - Library.cat
  Imperium - Imperial Knights.cat
Owners: @Dunamis55

Fixes #3499
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Update ci.yml
  .github/workflows/ci.yml
Owners: @BSData/data-admins-wh40k

Fixes #3506
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #3518
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #3509
  Imperium - Grey Knights.cat
Owners: @Dunamis55

MFM Points
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Models moved to Legends
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

20250312 Changes
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

MFM 2.3
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

MFM 2.3
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

MFM 2.3
  Chaos - Death Guard.cat
Owners: @Mad-Spy

MFM 2.3
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

MFM 2.3
  Necrons.cat
Owners: @Mad-Spy

MFM 2.3
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
