Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #2378
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Fixes #2427
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #2412
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2431
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #2435
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2446
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #2452
  Tyranids.cat
Owners: @Dunamis55

Fixes #2450
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2455
  T'au Empire.cat
Owners: @Dunamis55

Fixes #2451
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #2436
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Added Nemesis Claw
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #2483
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #2467
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #2486, Fixes #2479
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2460
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #2476
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #2499
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #2486, Fixes #2479 (#2500)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #2508
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Modificado README.md.
  README.md
Owners: @BSData/data-admins-wh40k

Modificado README.md.
  README.md
Owners: @BSData/data-admins-wh40k

Fixes #2518
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2507
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

BA fixes
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #2523
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Add Flyblown Host
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #2531
  Genestealer Cults.cat
Owners: @Dunamis55

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

DA Detachment
  Imperium - Space Marines.cat
Owners: @acebaur

TITUS!
  Imperium - Dark Angels.cat
  Imperium - Ultramarines.cat
Owners: @FarseerVeraenthis, @acebaur

Add Advent Detachment
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Add Grotmas Detachment
  Necrons.cat
Owners: @Mad-Spy

Add Grotmas Detachment
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Decoupled from Deathwatch catalogue
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #2560
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Grotmas Detachment
  Tyranids.cat
Owners: @Dunamis55

Index - Deathwatch: Grotmas 2024
  Imperium - Agents of the Imperium.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
Owners: @Mad-Spy, @FarseerVeraenthis, @acebaur
