Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #5276
  Chaos - World Eaters.cat
Owners: @Mad-Spy

fixes #5237 (#5274)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

FAQ v1.0
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Codex Crusade content
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Extra Attacks weapon tags
  Aeldari - Aeldari Library.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @acebaur, @Dunamis55, @BSData/data-admins-wh40k

Extra Attacks weapon tags
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Imperium - Astra Militarum - Library.cat
  Library - Astartes Heresy Legends.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k

Extra Attacks weapon tags
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Black Templars.cat
  Imperium - Iron Hands.cat
  Imperium - Space Wolves.cat
  Necrons.cat
Owners: @Mad-Spy, @Dunamis55, @Thairne, @acebaur

Extra Attacks logic update
  Imperium - Space Marines.cat
Owners: @acebaur

Extra Attacks logic update
  Aeldari - Aeldari Library.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k

Extra Attacks logic update
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Extra Attacks logic update
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
Owners: @Mad-Spy, @CrusherJoe, @Thairne

Extra Attacks logic update
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
Owners: @Thairne, @Mad-Spy, @Dunamis55

Attack/Damage Dx tags
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Attack/Damage Dx tags
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Library - Astartes Heresy Legends.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k

Attack/Damage Dx tags
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Imperium - Astra Militarum - Library.cat
Owners: @Mad-Spy, @Dunamis55

Attack/Damage Dx tags
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Imperial Knights - Library.cat
  Library - Astartes Heresy Legends.cat
  Library - Titans.cat
  Unaligned Forces.cat
Owners: @Mad-Spy, @Dunamis55

Attack/Damage Dx tags
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
Owners: @CrusherJoe, @Mad-Spy, @acebaur, @FarseerVeraenthis

Attack/Damage Dx tags
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Attack/Damage Dx tags
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Grey Knights.cat
Owners: @Thairne, @Mad-Spy, @Dunamis55

Attack/Damage Dx tags
  Aeldari - Aeldari Library.cat
  Genestealer Cults.cat
  Leagues of Votann.cat
  Necrons.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Dunamis55, @Mad-Spy

Attack/Damage Dx tags
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Dx tag comments
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #5297
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #5299
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Improved A/D Dx logic
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Multi-profile Dx tracker implementation
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Attack/Damage Dx tags
  Orks.cat
Owners: @Dunamis55

Fixes #5290
  Orks.cat
Owners: @Dunamis55

Fixes #5288
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #5294
  Imperium - Black Templars.cat
Owners: @acebaur

Removing unneeded Dx tracker
  Orks.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Improved Dx Attacks logic
  Aeldari - Aeldari Library.cat
  Imperium - Space Marines.cat
  Necrons.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @acebaur, @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k

Improved Dx Attacks logic
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Improved Dx Attacks logic
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
Owners: @CrusherJoe, @Thairne, @Mad-Spy, @Dunamis55

Fixes #5310
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5307
  Imperium - Space Marines.cat
Owners: @acebaur

Devastator points logic correction
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5306
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Improved Dx Damage logic
  Imperium - Space Marines.cat
Owners: @acebaur

Improved Dx Damage logic
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k
