Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Deathwatch MFM
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Dark Angels MFM
  Imperium - Dark Angels.cat
  Imperium - Space Marines.cat
Owners: @FarseerVeraenthis, @acebaur

Custodes MFM
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Aeldari MFM
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Drukhari MFM
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

I can't read small text
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
Owners: @FarseerVeraenthis, @acebaur

Fixes #5202
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5211
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #5213
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fix duplicated constraint on Kakophonist
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fix issue with Houndpack Lance models in Crusade
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #5220
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Fixes #5227
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5218
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

SM bugs
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5221
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #5239
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #5233
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fix incorrect keyword for Land Raider
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #5164
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #5165
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #5204
  Tyranids.cat
Owners: @Dunamis55

Fixes #5171
  Orks.cat
Owners: @Dunamis55

Fixes #5179
  Orks.cat
Owners: @Dunamis55

Fixes #5206
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5070
  Tyranids.cat
Owners: @Dunamis55

Fixes #5248
  Tyranids.cat
Owners: @Dunamis55

Fixes #5222
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5254
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5257
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5255
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Imperial Knights Codex
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Dataslate changes
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Crusade Campaign content Show/Hide options
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

fixes #5237
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #5268
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Fixes #5277
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5261
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
