Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #5052
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5050
  Imperium - Space Marines.cat
Owners: @acebaur

SM bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Kroot Flesh Shaper name fix
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5071
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5074
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Raven Guard
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5099
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Adeptus mechanicus updates for MFM and Datasheets
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Agents Updates
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Votann Updates
  Leagues of Votann.cat
Owners: @Mad-Spy

CSM Updates
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Daemons Updates
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Daemons Detachment rule fix
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Chaos Knights Update
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

EC Updates
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Necrons Updates
  Necrons.cat
Owners: @Mad-Spy

TSons Updates
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

More TSons
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

World Eaters Update
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Sororitas Update
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

MFM 3.3 - 12/09/2025
  T'au Empire.cat
Owners: @Dunamis55

12/09/2025 - Balance Dataslate 3.0 - T'au
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5077
  Imperium - Black Templars.cat
Owners: @acebaur

RG points
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Adeptus mechanicus updates for MFM and Datasheets
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

added quotes for destroyers movement
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Dataslate changes
  Genestealer Cults.cat
  Imperium - Imperial Knights - Library.cat
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

MFM Changes
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

updated eradication beamer to sustained 1
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

SM Bugs and Dataslate
  Imperium - Blood Angels.cat
  Imperium - Salamanders.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

20250912 updates (#5152)
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Blood Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55, @CrusherJoe, @acebaur

Fixes #5103
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5119
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixed #5063
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #5101
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Update Imperium - Raven Guard.cat
  Imperium - Raven Guard.cat
Owners: @acebaur

Fixes #5162
  Leagues of Votann.cat
Owners: @Mad-Spy
