Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

more SM Crucible
  Imperium - Space Marines.cat
Owners: @acebaur

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crucible + MFM updates + Dataslate
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

#6545 bug fixes
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crucible Ability min 1 fix
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55, @Mad-Spy

Fixes #6549
  Imperium - Ultramarines.cat
Owners: @acebaur

UI/UX tweak
  Imperium - Ultramarines.cat
Owners: @acebaur

Hidden UM units until Legends
  Imperium - Ultramarines.cat
Owners: @acebaur

Crucible Chapter selector and logic
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6653
  T'au Empire.cat
Owners: @Dunamis55

Add Ravenwing keyword
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Library - Astartes Heresy Legends.cat
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #6655
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6656
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6666
  Chaos - Chaos Space Marines.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Fixes #6643
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #6672
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #6674
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6678
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6682
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6688
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #6664
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #6669
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #6684
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6660
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Library - Astartes Heresy Legends.cat
  Warhammer 40,000.gst
Owners: @acebaur, @Mad-Spy, @BSData/data-admins-wh40k

Fixes #6675
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6670
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6661
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6685
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6663
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6665
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6472
  Imperium - Space Marines.cat
Owners: @acebaur

Missing ability/Leader text
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6690
  Imperium - Space Marines.cat
Owners: @acebaur

Archeotech Armament tidy up
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6707
  T'au Empire.cat
Owners: @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
