Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Fixes #4943
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4942
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4942
  Imperium - Space Marines.cat
Owners: @acebaur

Missed logic fix
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes missing Crusade currency on UI
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4947
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #4947
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #4947
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #4948
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #4951
  Imperium - Blood Angels.cat
Owners: @acebaur

Crusade Legends Show/Hide fix
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Library - Astartes Heresy Legends.cat
  Necrons.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55, @CrusherJoe, @acebaur, @FarseerVeraenthis

Pariah Nexus Crusade campaign
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Blood Angels.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Titans.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur, @BSData/data-admins-wh40k

Fixes #4952
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Nachmund Gauntlet Crusade campaign
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Fists.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Imperium - White Scars.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur, @BSData/data-admins-wh40k

Pariah Nexus Battle Trait fixes
  Aeldari - Aeldari Library.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne, @acebaur, @BSData/data-admins-wh40k

Armageddon Crusade campaign
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #4957
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes Pariah Nexus Blackstone Fragments location
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #4958
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4959
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Crusade Relic fixes
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4960
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4962
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Crusade Shadow Legion hidden logic fixes
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
Owners: @Mad-Spy

Fixes #4966
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Imperial Knights allies Crusade logic fixes
  Imperium - Imperial Knights.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Added missing Biosplint Gland Crusade relic
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Daemon Prince Chaos Boons fix
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4972
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
Owners: @Mad-Spy

Fixes #4971
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Necrons.cat
  Orks.cat
Owners: @Mad-Spy, @Dunamis55, @CrusherJoe, @Thairne

Fixes #4970
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4973
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4980
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #4979
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #4983
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #4982
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #5002
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4991
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5008
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5007
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
