Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Improved Dx Damage logic
  Genestealer Cults.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
Owners: @Dunamis55, @CrusherJoe, @Thairne, @Mad-Spy

Improved Dx Damage logic
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Keywords tidy up
  Necrons.cat
Owners: @Mad-Spy

Multi-profile Dx Attacks logic update
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Space Marines.cat
Owners: @FarseerVeraenthis, @Mad-Spy

Fixes #5312
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Multi-profile Dx Attacks logic update
  Chaos - Chaos Daemons Library.cat
  Chaos - Death Guard.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
Owners: @Mad-Spy, @CrusherJoe

Multi-profile Dx Attacks logic update
  Imperium - Dark Angels.cat
  Imperium - Space Marines.cat
Owners: @FarseerVeraenthis, @acebaur

Multi-profile Dx Damage logic update
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Thousand Sons.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Orks.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55

Imperial Armour Dx profiles
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Knights Library.cat
  Imperium - Space Marines.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @acebaur, @Dunamis55

Legends Dx profiles
  Chaos - Chaos Daemons Library.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Blood Angels.cat
  Imperium - Grey Knights.cat
Owners: @Mad-Spy, @Thairne, @acebaur, @Dunamis55

Fixes #5314
  Imperium - Space Marines.cat
Owners: @acebaur

Enhancement Upgrade tidy up
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #5315
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5318
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5322
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5325
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5335
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Dx logic fixes
  Aeldari - Aeldari Library.cat
  Imperium - Agents of the Imperium.cat
Owners: @FarseerVeraenthis, @Mad-Spy

Fixes #5327
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Missed a category
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Profile typo fix
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Krieg HWS Embarking text fix
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Adding Da Red Gobbo Snowman
  Orks.cat
Owners: @Dunamis55

Fixes #5340
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fix DPwW profile
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fix profile name
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #5345
  Leagues of Votann.cat
Owners: @Mad-Spy

Sir Hekhtur crew fix
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5298
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5346
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Adding Vortex bolt relic upgrade
  Imperium - Space Marines.cat
Owners: @acebaur

Enhancement upgrades / Weapon Mods interaction fix
  Orks.cat
Owners: @Dunamis55

Fixes #5353
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Fixes #5356
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5357
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5361
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5366
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55
