Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Missed Lone Op on Flawless Champion
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Delete .github/workflows/ReleaseIssue.yml
  .github/workflows/ReleaseIssue.yml
Owners: @BSData/data-admins-wh40k

Fixes #6484
  Necrons.cat
Owners: @Mad-Spy

Fixes #6487
  Orks.cat
Owners: @Dunamis55

Added Crusade Army reminder text as readme
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Crusade readme update
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #6499
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6505
  Leagues of Votann.cat
Owners: @Mad-Spy

Crucible content
  Orks.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #6522
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6527
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Agents WIP
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #6530
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6528
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crucible content
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Crucible
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Added Deep Strike to Terminator specialism
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Chaos Daemon Implementation
  Chaos - Chaos Daemons Library.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Votann Crucible
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes issues raised by @freddie316
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes for stuff I forgot
  Chaos - Chaos Daemons Library.cat
  Leagues of Votann.cat
Owners: @Mad-Spy

More errors fixed
  Leagues of Votann.cat
Owners: @Mad-Spy

Necrons Crucible
  Necrons.cat
Owners: @Mad-Spy

Models are Models
  Leagues of Votann.cat
  Necrons.cat
Owners: @Mad-Spy

Custodes Crucible
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Crucible content
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
  Imperium - Grey Knights.cat
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

20260304 Updates
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

20260304 Updates
  Necrons.cat
Owners: @Mad-Spy

Added Berehk
  Leagues of Votann.cat
Owners: @Mad-Spy

20260304 Updates
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

20260304 Updates
  Chaos - Death Guard.cat
Owners: @Mad-Spy

20260304 Updates
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

20260304 Updates
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

20260304 Updates
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

202060304 Updates
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Sororitas Crucible
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Crucible
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

20260304 Update
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

#6545
  Necrons.cat
Owners: @Mad-Spy

#6545
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy
