Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Necrons: add the 3 new faction-pack detachments
  Necrons.cat
Owners: @Mad-Spy

Leagues of Votann: add the 3 new faction-pack detachments
  Leagues of Votann.cat
Owners: @Mad-Spy

Orks: DP for the two existing new-pack detachments + missing enhancement
  Orks.cat
Owners: @Dunamis55

DP for pre-existing new-pack detachments (Aeldari/Tyranids/Tau)
  Aeldari - Aeldari Library.cat
  Library - Tyranids.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55

Orks: reconcile existing detachments to 11e pack + add stratagems
  Orks.cat
Owners: @Dunamis55

Orks: add new detachment Rollin' Deff (faction pack v1.0)
  Orks.cat
Owners: @Dunamis55

Orks: army & detachment rule errata (faction pack v1.0)
  Orks.cat
Owners: @Dunamis55

T'au Empire: reconcile detachments to 11e pack + stratagems + new detachment
  T'au Empire.cat
Owners: @Dunamis55

Tyranids: reconcile detachments to 11e pack + stratagems + 2 new detachments
  Library - Tyranids.cat
Owners: @Mad-Spy

Genestealer Cults: 3 new detachments + Final Day stratagems
  Library - Tyranids.cat
Owners: @Mad-Spy

Aeldari: 3 new detachments + Armoured Warhost reconciliation
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Drukhari: 3 new detachments + Reaper's Wager stratagems
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Aeldari: add stratagems to Serpent's Brood, Eldritch Raiders, Corsair Coterie
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Necrons: add stratagems to the 4 reprinted faction-pack detachments
  Necrons.cat
Owners: @Mad-Spy

Leagues of Votann: add stratagems to Hearthband & Mercenary Oathband
  Leagues of Votann.cat
Owners: @Mad-Spy

Orks datasheet errata (faction pack v1.0)
  Orks.cat
Owners: @Dunamis55

T'au Empire datasheet errata (faction pack v1.0)
  T'au Empire.cat
Owners: @Dunamis55

Aeldari & Drukhari datasheet errata: FRAME keyword + flyer M/OC
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Necrons datasheet errata: FRAME keyword + Doom Scythe M/OC
  Necrons.cat
Owners: @Mad-Spy

Leagues of Votann datasheet errata: FRAME on Hekaton Land Fortress & Sagitaur
  Leagues of Votann.cat
Owners: @Mad-Spy

Tyranids & Genestealer Cults datasheet errata (faction pack v1.0)
  Genestealer Cults.cat
  Tyranids.cat
Owners: @Dunamis55

Tyranids: codex detachment rule errata (faction pack v1.0)
  Library - Tyranids.cat
Owners: @Mad-Spy

Genestealer Cults: codex detachment errata (Rapid Takeover, Prowling Agitant)
  Library - Tyranids.cat
Owners: @Mad-Spy

Tyranids datasheet ability errata (faction pack v1.0)
  Tyranids.cat
Owners: @Dunamis55

Genestealer Cults datasheet ability errata (faction pack v1.0)
  Genestealer Cults.cat
Owners: @Dunamis55

Aeldari datasheet & codex errata (faction pack v1.0)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Necrons datasheet & codex errata (faction pack v1.0)
  Necrons.cat
Owners: @Mad-Spy

Leagues of Votann datasheet ability errata (faction pack v1.0)
  Leagues of Votann.cat
Owners: @Mad-Spy

Army rule errata: Tyranid Shadow in the Warp & Synapse, T'au For The Greater Good
  Library - Tyranids.cat
  T'au Empire.cat
Owners: @Mad-Spy, @Dunamis55

Weapon profile errata: Exocrine bio-plasmic cannon S9, Tyrannofex rupture cannon D6+6, Ork saw blades AP-2
  Library - Tyranids.cat
  Orks.cat
Owners: @Mad-Spy, @Dunamis55

Datasheet errata: Leader -> Support core ability swap
  Genestealer Cults.cat
  Necrons.cat
Owners: @Dunamis55, @Mad-Spy

Datasheet errata: Night Scythe (M 14", drop AIRCRAFT) + transport capacities
  Aeldari - Aeldari Library.cat
  Leagues of Votann.cat
  Necrons.cat
  Orks.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55

Drukhari datasheet errata: Hellions, Lady Malys, Voidraven Bomber, Venom (ability + transport)
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Final datasheet errata: SMOKE keyword + Night Scythe Hover/Invasion Beams
  Necrons.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55

Add Force Disposition to every matched-play detachment (145 across 14 factions)
  Aeldari - Aeldari Library.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur, @Mad-Spy, @BSData/data-admins-wh40k

Re-target all recently added enhancements to their actual bearers
  Aeldari - Aeldari Library.cat
  Genestealer Cults.cat
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @FarseerVeraenthis, @Dunamis55, @acebaur, @Mad-Spy

Data hygiene: remove orphan Runtherd entry + dead Infantry Squad reference
  Imperium - Astra Militarum - Library.cat
  Orks.cat
Owners: @Dunamis55

Final enhancement rule: 'Upgrade' = unit-attached & repeatable; others = non-Epic characters
  Aeldari - Aeldari Library.cat
  Imperium - Black Templars.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Grey Knights.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Leagues of Votann.cat
  Library - Tyranids.cat
  Necrons.cat
  Orks.cat
  T'au Empire.cat
Owners: @FarseerVeraenthis, @acebaur, @Dunamis55, @Mad-Spy

GK Argent Assault: remove leftover character-menu links for Psychic Celerity & Vigilance of Titan
  Aeldari - Aeldari Library.cat
  Imperium - Grey Knights.cat
  Library - Tyranids.cat
  Orks.cat
Owners: @FarseerVeraenthis, @Dunamis55, @Mad-Spy

Enhancements: Upgrades can never be applied to Epic characters
  Imperium - Dark Angels.cat
  Orks.cat
Owners: @FarseerVeraenthis, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
