Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Smurf Stuff
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #5778
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5779
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Validation update
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Fixes #5789
  Orks.cat
Owners: @Dunamis55

Fixes #5802
  T'au Empire.cat
Owners: @Dunamis55

SM bugs
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
  Imperium - Ultramarines.cat
  Library - Astartes Heresy Legends.cat
Owners: @acebaur, @Mad-Spy

Update Imperium - Blood Angels.cat
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #5811
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5825
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #5823
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5817
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #5828
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #5830
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

wolf scouts
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #5842
  Orks.cat
Owners: @Dunamis55

Wolf Scout fixes
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #5847
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #5832
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5853
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #5848
  Orks.cat
Owners: @Dunamis55

Fixes #5864
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5865
  Necrons.cat
Owners: @Mad-Spy

Makes Campaign selection mandatory
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #5875
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Jump Pack keyword fixes
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

#5883
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5891
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #5890
  Imperium - Blood Angels.cat
Owners: @acebaur

Grotmas Detachment
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Grotmas Detachment
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Hidden Enhancements logic correction
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Formatting typo fix
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Tome Keepers White Dwarf Crusade content
  Imperium - Space Marines.cat
  Warhammer 40,000.gst
Owners: @acebaur, @BSData/data-admins-wh40k

Raptors White Dwarf Crusade content
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5909
  Library - Tyranids.cat
Owners: @Mad-Spy

Add new detachment rules and relics for CSM and EC
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Balance Dataslate 12-10-2025 Updates
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
