Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Imperial Armour update
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Bloody Bugs!
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #2157
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Adjusting Draigo Warlord behaviour
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #2227
  Tyranids.cat
Owners: @Dunamis55

SM Bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #2273
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Warlocks being tricksy
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Aeldari - Ynnari.cat
Owners: @FarseerVeraenthis

Fixes #2288
  Orks.cat
Owners: @Dunamis55

Fixes #2298
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Pathfinder Grenade error handling improvement
  T'au Empire.cat
Owners: @Dunamis55

Fixes #2304
  Orks.cat
Owners: @Dunamis55

Tyranid Warriors default amount set
  Tyranids.cat
Owners: @Dunamis55

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

increase version
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Field Ordnance Battery default amount improvement
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

BA Fixes
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #2285 (#2334)
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #2356
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2345
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #2358
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2351
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #2369
  Genestealer Cults.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #2373
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Winged DPoC was missing FLY
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #2379
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Breacher Team profile name clarity tweak
  T'au Empire.cat
Owners: @Dunamis55

Fixes #2395
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #2424
  T'au Empire.cat
Owners: @Dunamis55

BA Fixes
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Marine Fixes
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #2303
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #2394
  Imperium - Black Templars.cat
Owners: @acebaur

Tweaks
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
