Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Finished?
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4856
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4855
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4862
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

SM bugs
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Imperial Fists.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4871
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4874
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fix
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4884
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

20250820 MFM
  Chaos - Chaos Knights Library.cat
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Points
  Leagues of Votann.cat
Owners: @Mad-Spy

Sallies stuff
  Imperium - Black Templars.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4887
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #4888
  Chaos - Death Guard.cat
Owners: @Mad-Spy

MFM v3.2 points changes
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #4893
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #4894
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Final pass
  Leagues of Votann.cat
Owners: @Mad-Spy

Votann Codex release (#4898)
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4899
  Leagues of Votann.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #4904
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4902
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4903
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #4905
  Leagues of Votann.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Crusade tidy up
  Aeldari - Aeldari Library.cat
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Thousand Sons.cat
  Imperium - Astra Militarum - Library.cat
Owners: @FarseerVeraenthis, @Mad-Spy, @Dunamis55

Fixes #4906
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4907
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Crusade tidy up
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
  Imperium - Adepta Sororitas.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Imperial Knights - Library.cat
  Library - Titans.cat
  Unaligned Forces.cat
Owners: @Mad-Spy, @CrusherJoe, @Dunamis55

Crusade tidy up
  Imperium - Adeptus Custodes.cat
  Imperium - Blood Angels.cat
  Imperium - Deathwatch.cat
  Imperium - Space Marines.cat
Owners: @Thairne, @acebaur, @FarseerVeraenthis

Crusade tidy up
  Genestealer Cults.cat
  Imperium - Adeptus Mechanicus.cat
  Imperium - Agents of the Imperium.cat
  Imperium - Grey Knights.cat
Owners: @Dunamis55, @Thairne, @Mad-Spy

Crusade tidy up
  Leagues of Votann.cat
Owners: @Mad-Spy

Crusade tidy up
  Necrons.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55

Detachment limit recursive fix
  Imperium - Space Marines.cat
Owners: @acebaur

Crusade mode = LIVE!
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #4910
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #4915
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4916
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4923
  Leagues of Votann.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
