Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Allow Mark Choice in Crusade
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5596
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5603
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

IK Codex Crusade content
  Imperium - Imperial Knights - Library.cat
  Imperium - Imperial Knights.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Adding Crusade conquered planets tracker
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5618
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fix catalogue
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #5603
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Hide toggle for Allied Crusade Pilots
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Fixes #5642
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #5643
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #5626
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #5641
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #5647
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Added Mortal Empowerment to DAMNED units
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Reinstate Legends units
  Imperium - Space Wolves.cat
Owners: @acebaur

Missing Crusade Relic upgrades for Emp Champ
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #5696
  Leagues of Votann.cat
Owners: @Mad-Spy

Fix for Mortal Empowerment
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Aquila/Decimus keyword update
  Imperium - Agents of the Imperium.cat
  Imperium - Deathwatch.cat
Owners: @Mad-Spy, @FarseerVeraenthis

Fixes #5672
  Orks.cat
Owners: @Dunamis55

Fixes #5688
  Tyranids.cat
Owners: @Dunamis55

Fixes #5717
  Orks.cat
Owners: @Dunamis55

Fixes #5712
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5707
  Orks.cat
Owners: @Dunamis55

Fixes #5737
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5735
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5753
  T'au Empire.cat
Owners: @Dunamis55

Fixes #5587
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5679
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5683
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5699
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5710
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5726
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5684
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #5671
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Drukhari Crusade Content
  Aeldari - Aeldari Library.cat
  Aeldari - Drukhari.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @BSData/data-admins-wh40k

Fixes #5756
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Add new Wolf Scouts datasheet for Space Wolves
  Imperium - Space Wolves.cat
Owners: @acebaur

Da Red Gobbo's Tinboy
  Orks.cat
Owners: @Dunamis55
