Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #4550
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4600
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55

Floors for Crusade WS/BS 2+ weapon mods
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #4602
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4606
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #4599
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Agents Legends fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

NR Markdown for Black Rage keywords
  Imperium - Blood Angels.cat
Owners: @acebaur

Fixes #4612
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4613
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4616
  Tyranids.cat
Owners: @Dunamis55

Fixes #4622
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Blightlord fixes
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4625
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4579
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4635
  Genestealer Cults.cat
Owners: @Dunamis55

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4644
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes typo in Bodyguard ability
  T'au Empire.cat
Owners: @Dunamis55

Fixes #4648
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Imperium - Space Wolves.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4649
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4650
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4653
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fix Titanic Knight Ally limits
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #4656
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4660
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4663
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4664
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4652
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #4662
  Genestealer Cults.cat
Owners: @Dunamis55

Fixes #4666
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Update Chaos - Thousand Sons.cat
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

20250907 FAQs
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Thousand Sons.cat
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Dataslate 07 25 / MFM v3.0 Updates
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

FAQ and Drop pod
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #4557
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4681
  Imperium - Imperial Knights - Library.cat
Owners: @Dunamis55
