Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Crusade implementation
  Unaligned Forces.cat
Owners: @Dunamis55

More Crusade dice profile modifiers
  T'au Empire.cat
Owners: @Dunamis55

Fixes
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
Owners: @Mad-Spy

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #3649
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3652
  Imperium - Adeptus Mechanicus.cat
  Imperium - Imperial Knights.cat
Owners: @Thairne, @Dunamis55

Unneeded hide logic
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #3655
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Bug fixes
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3658
  Unaligned Forces.cat
Owners: @Dunamis55

Fixes #3673
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #3672
  Tyranids.cat
Owners: @Dunamis55

Fixes #3674
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #3676
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Tyrannocyte Crusade options
  Tyranids.cat
Owners: @Dunamis55

Fixes #3680
  Orks.cat
Owners: @Dunamis55

Fixes #3687
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #3701
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fix Terminator Lord movement
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #3740
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #3747
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #3758
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3769
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3771
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Fixes #3772
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3770
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Consolidated Canoness wargear options
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Update ci.yml
  .github/workflows/ci.yml
Owners: @BSData/data-admins-wh40k

Update ci.yml
  .github/workflows/ci.yml
Owners: @BSData/data-admins-wh40k

Fixes #3790
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #3793
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #3795
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Added Goremongers
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Forgot some rules
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Added Sanctifiers
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
