Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #6698
  Library - Tyranids.cat
Owners: @Mad-Spy

Vortex Grenade ability name fix
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Crucible Fixes
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fix Crucible Character costs
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6711
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6741
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6731
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #6734
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Boarding Actions content
  Library - Tyranids.cat
  T'au Empire.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k

BA Enhancements hide logic
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Boarding Actions content
  Genestealer Cults.cat
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

fix: correct typo SPACE WOVLES to SPACE WOLVES
  Imperium - Space Marines.cat
Owners: @acebaur

Boarding Actions content
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Library - Titans.cat
Owners: @Dunamis55, @Mad-Spy

Boarding Actions content
  Orks.cat
Owners: @Dunamis55

Boarding Actions content
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Boarding Actions content
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Boarding Actions content
  T'au Empire.cat
Owners: @Dunamis55

Boarding Actions content
  T'au Empire.cat
Owners: @Dunamis55

SM bugs
  Imperium - Raven Guard.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Trademark Weapon upgrade logic
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @Mad-Spy, @BSData/data-admins-wh40k

BA Indirect Fire removal
  Genestealer Cults.cat
  T'au Empire.cat
Owners: @Dunamis55

BA Fly Movement limits
  Imperium - Grey Knights.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55, @Mad-Spy

Fixes #6755
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6759
  Necrons.cat
Owners: @Mad-Spy

Fixes #6753
  Chaos - World Eaters.cat
Owners: @Mad-Spy

BA non-character Warlord logic
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @Mad-Spy, @BSData/data-admins-wh40k

BA bonus mission vehicle unit logic
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #6762
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Missing Pistol keyword on Crucible plaguespurt
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6763
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes #6766
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6765
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Mad-Spy, @Dunamis55

Fixes #6767
  Tyranids.cat
Owners: @Dunamis55

Fixes #6782
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6784
  Tyranids.cat
Owners: @Dunamis55

Fixes #6785
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #6786
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis
