Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

SM Fixes
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Tweak to Intercessor logic
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3302
  Imperium - Space Marines.cat
Owners: @acebaur

Ven Dread fix
  Imperium - Space Marines.cat
Owners: @acebaur

SM Fixes (#3301)
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #3315
  Imperium - Blood Angels.cat
Owners: @acebaur

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #3287
  T'au Empire.cat
Owners: @Dunamis55

Fixes #3311
  T'au Empire.cat
Owners: @Dunamis55

Fixes #3275
  Tyranids.cat
Owners: @Dunamis55

Fixes #3263
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Datasheets up to Field Ordnance Battery
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

Datasheets up to Banehammer
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Final datasheets
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Adding Infantry keyword to Skwad Leader
  Orks.cat
Owners: @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Legends datasheets
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Hell's Last datasheet
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

FAQs
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Removal of dead datasheets
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

Crusade modifiers optimisation
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Fixes #3334
  Orks.cat
Owners: @Dunamis55

Fixes #3344
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

FnP correction
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3354
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3351
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3355
  T'au Empire.cat
Owners: @Dunamis55

Multiple missed fixes
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55

Fixes Krieg Command Squad pistol limits
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3359
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Removal of dead link
  Genestealer Cults.cat
Owners: @Dunamis55

Crusade optimisation
  Orks.cat
Owners: @Dunamis55

Fixes #3366
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3360
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3361
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Death Korps of Krieg tidy up
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Crusade Codex Battle Traits grouping
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55
