Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Added Sanctifiers
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes for Sororitas Sanctifiers
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #3803
  Imperium - Adepta Sororitas.cat
  Imperium - Agents of the Imperium.cat
Owners: @CrusherJoe, @Mad-Spy

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fixes #3827
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Marines Fixes
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #3833
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

More Dakka errata
  Orks.cat
Owners: @Dunamis55

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Re-do CSM changes because I overwrote them
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #3854
  Genestealer Cults.cat
Owners: @Dunamis55

Death Company Fixes and Tycho the Lost
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3877
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3885
  T'au Empire.cat
Owners: @Dunamis55

SM bugs
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

BA bug
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #3898
  Orks.cat
Owners: @Dunamis55

PCS fix
  Imperium - Black Templars.cat
Owners: @acebaur

PCS 2 fix
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #3907
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #3911
  Imperium - Grey Knights.cat
Owners: @Dunamis55

EC Fixes
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3918
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3861
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #3862
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #3916
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fix typo in Battle Sisters
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

DKOK new datasheet tidy up
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #3928
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Noisy bois (#3956)
  Chaos - Chaos Space Marines.cat
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #3855
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #3969
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy
