Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Almost done BT
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Update Imperium - Black Templars.cat
  Imperium - Black Templars.cat
Owners: @acebaur

Fixes #4770
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #4766
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Voidscarred limit fixes
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Missing Legends Corsairs heavy weapon options
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #4774
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #4765
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crusade Implementation
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Knights.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - Chaos Knights Library.cat
  Chaos - Chaos Space Marines.cat
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Crusade Unholy Patronage upgrade
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Crusade Implementation
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Added Crusade to CSM Heresy Legends units
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Added Crusade to Heresy Legends units
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Fixes #4782
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fix line breaks in Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4783
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Crusade tweaks
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Death Guard Crusade Implementation
  Chaos - Death Guard.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Land Raider Banisher removal
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4790
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Codex
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Update Imperium - Black Templars.cat
  Imperium - Black Templars.cat
Owners: @acebaur

GK Codex (#4799)
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4806
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Fixes #4800
  Imperium - Grey Knights.cat
Owners: @Dunamis55

SM bugs
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Fixes #4808
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4807
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4796
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #4804
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4768
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #4825
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #4831
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Fixes #4848
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #4852
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Some stuff done
  Leagues of Votann.cat
Owners: @Mad-Spy

Fix Inferno heavy bolter
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

More stuff
  Leagues of Votann.cat
Owners: @Mad-Spy
