Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crucible content
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

Crucible content
  Genestealer Cults.cat
  Library - Tyranids.cat
  Tyranids.cat
Owners: @Dunamis55, @Mad-Spy

Crucible content
  Genestealer Cults.cat
Owners: @Dunamis55

#6545 Errors
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

#6545 Errors
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Cults logic for Renegade Warband
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6559
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes
  Necrons.cat
Owners: @Mad-Spy

Fixes #6571
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6537
  T'au Empire.cat
Owners: @Dunamis55

Fixes #6534
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #6534
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Nova Charge ability tidy up
  T'au Empire.cat
Owners: @Dunamis55

Twin Lance
  T'au Empire.cat
Owners: @Dunamis55

Inv Save tidy up
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Library - Tyranids.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
  Unaligned Forces.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @Mad-Spy, @BSData/data-admins-wh40k

MFM Changes
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  T'au Empire.cat
Owners: @Dunamis55

Tyranid Prime with Lash Whip
  Tyranids.cat
Owners: @Dunamis55

Keyword formatting fixes
  T'au Empire.cat
Owners: @Dunamis55

More keyword formatting fixes
  T'au Empire.cat
Owners: @Dunamis55

More keyword tidy up
  T'au Empire.cat
Owners: @Dunamis55

Added readme for MFM and Dataslate changes
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

MFM Points
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Drukhari Crucible
  Aeldari - Aeldari Library.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Fixes #6613
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Flesh Crafter updates
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Crucible weapons points modifiers tidy up
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

#6545
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Crucible Updates
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

SM Crucible part 1
  Imperium - Black Templars.cat
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6626
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #6608
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #6497
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Resolves #6178
  Library - Tyranids.cat
  Tyranids.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @Dunamis55, @BSData/data-admins-wh40k
