Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #6957
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6969
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Fixes #6960
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Fix Defiler BS
  Chaos - Chaos Space Marines.cat
  Chaos - Death Guard.cat
  Chaos - Emperor's Children.cat
Owners: @Mad-Spy

Fixes #6976
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #6988
  Imperium - Space Marines.cat
Owners: @acebaur

Fixes #6987
  Imperium - Raven Guard.cat
Owners: @acebaur

Fixes #6992
  Necrons.cat
Owners: @Mad-Spy

Fixes #6993
  Library - Astartes Heresy Legends.cat
Owners: @Mad-Spy

Fixes #6981
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #7005
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #7009
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #7010
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #7011
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes #7033
  Chaos - Death Guard.cat
Owners: @Mad-Spy

Add error message for people who don't read datasheets
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #7045
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes #7051
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Fixes #7055
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #7067
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #7066
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Inquisitor Kroyle
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Intranzia Fraye
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Ordering change
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Fixes
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #7086
  Chaos - Chaos Knights Library.cat
Owners: @Mad-Spy

Fixes #7082
  Necrons.cat
Owners: @Mad-Spy

Fixes #7257
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Fixes
  Aeldari - Aeldari Library.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @BSData/data-admins-wh40k

Fixes #7262
  Necrons.cat
Owners: @Mad-Spy

Fixes #7279
  Leagues of Votann.cat
Owners: @Mad-Spy

Fixes #7273
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Add Lychguard weapons error
  Necrons.cat
Owners: @Mad-Spy

Fixes #7281
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Remove outdated readme
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #7293
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #7315
  Chaos - Thousand Sons.cat
Owners: @Mad-Spy

Update Imperium - Space Marines.cat
  Imperium - Space Marines.cat
Owners: @acebaur
