Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

MFM 2.3
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Balance Dataslate Mar 2025
  Leagues of Votann.cat
Owners: @Mad-Spy

Shadow Legion and other changes
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Taktikal Brigade update
  Orks.cat
Owners: @Dunamis55

FAQ v1.1
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Bridgehead Strike updates
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

More Dakka detachment
  Orks.cat
Owners: @Dunamis55

Warpbane Task Force updates
  Imperium - Grey Knights.cat
Owners: @Dunamis55

More Dakka enhancement logic fix
  Orks.cat
Owners: @Dunamis55

Update ci.yml
  .github/workflows/ci.yml
Owners: @BSData/data-admins-wh40k

MFM Updates Q1 2025
  Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Bug fixes & MFM Points
  Aeldari - Aeldari Library.cat
  Imperium - Dark Angels.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Experimental Prototype Cadre detachment
  T'au Empire.cat
Owners: @Dunamis55

Balance Dataslate 03/2025 changes
  Imperium - Astra Militarum - Library.cat
  Orks.cat
Owners: @Dunamis55

MFM v2.4 points
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

Update Spacemarine points
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Stormsurge Twin SMS A stat fix
  T'au Empire.cat
Owners: @Dunamis55

Fixes #3554
  Orks.cat
Owners: @Dunamis55

Dataslate
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @acebaur

Fixes #3575
  Imperium - Grey Knights.cat
Owners: @Dunamis55

Deep Strike for Shadow Legion CSM
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Modifier name append correction
  T'au Empire.cat
Owners: @Dunamis55

Missed Crusade elements
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Crusade Implementation
  Genestealer Cults.cat
Owners: @Dunamis55

MFM Points changes
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

Collapsible enhancements
  Genestealer Cults.cat
Owners: @Dunamis55

Modifier fixes
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

Crusade dice in weapon profile upgrade fixes
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Crusade profile dice logic refactor
  Orks.cat
  T'au Empire.cat
  Warhammer 40,000.gst
Owners: @Dunamis55, @BSData/data-admins-wh40k

Crusade dice profile stats fix
  Orks.cat
  T'au Empire.cat
Owners: @Dunamis55

Crusade dice profile fixes
  Genestealer Cults.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Grey Knights.cat
  Imperium - Imperial Knights - Library.cat
  Imperium - Imperial Knights.cat
  Orks.cat
  T'au Empire.cat
  Tyranids.cat
Owners: @Dunamis55

More profile dice logic refactoring
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Fixes #3612
  T'au Empire.cat
Owners: @Dunamis55

Dataslate bugs
  Chaos - Chaos Daemons Library.cat
  Chaos - Chaos Daemons.cat
  Chaos - Chaos Space Marines.cat
Owners: @Mad-Spy

Fixes #3605
  Imperium - Adepta Sororitas.cat
Owners: @CrusherJoe

Fixes AP for Inq Combi-weapon
  Imperium - Agents of the Imperium.cat
Owners: @Mad-Spy

Update Imperium - Adeptus Custodes.cat
  Imperium - Adeptus Custodes.cat
Owners: @Thairne
