Repository BSData/wh40k-10e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @CrusherJoe, @Thairne, @Dunamis55

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Library*    @Mad-Spy


# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Imperium

Imperium*                         @acebaur
*Adepta\ Sororitas.cat            @CrusherJoe
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Mad-Spy
*Agents\ of\ the\ Imperium.cat    @Mad-Spy
*Astra\ Militarum*                @Dunamis55
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Grey\ Knights.cat                @Dunamis55
*Imperial\ Knights*               @Dunamis55
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur

# Xenos and Other

Tyranids.cat                      @Dunamis55
Genestealer\ Cults.cat            @Dunamis55
Leagues\ of\ Votann.cat           @Mad-Spy
Necrons.cat                       @Mad-Spy
Orks.cat                          @Dunamis55
T?au\ Empire.cat                  @Dunamis55
# the question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Unaligned\ Forces.cat             @Dunamis55

Fixes #3166
  Genestealer Cults.cat
Owners: @Dunamis55

SM Bugs
  Imperium - Black Templars.cat
  Imperium - Blood Angels.cat
  Imperium - Space Marines.cat
  Imperium - Space Wolves.cat
Owners: @acebaur

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Imperium - Deathwatch.cat
  Imperium - Deathwatch.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Imperium - Dark Angels.cat
  Imperium - Dark Angels.cat
Owners: @FarseerVeraenthis

Aeldari Codex 1
  Aeldari - Aeldari Library.cat
  Warhammer 40,000.gst
Owners: @FarseerVeraenthis, @BSData/data-admins-wh40k

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Bugs
  Imperium - Adeptus Custodes.cat
Owners: @Thairne

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

File Visible Name Changes
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Aeldari - Drukhari.cat
  Aeldari - Ynnari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Ynnari.cat
  Aeldari - Ynnari.cat
Owners: @FarseerVeraenthis

Validation scheme change
  Chaos - World Eaters.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #3190
  Imperium - Grey Knights.cat
Owners: @Dunamis55

More Updates
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Aeldari - Ynnari.cat
Owners: @FarseerVeraenthis

More updates
  Aeldari - Aeldari Library.cat
  Aeldari - Craftworlds.cat
  Aeldari - Ynnari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Corsair Voidscarred Added
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Fixes #3196
  Tyranids.cat
Owners: @Dunamis55

Fixes #3199
  Chaos - Chaos Daemons Library.cat
Owners: @Mad-Spy

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Ynnari Leaders
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Units done
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Root links and Cat renames
  Aeldari - Craftworlds.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Points in
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Update Aeldari - Aeldari Library.cat
  Aeldari - Aeldari Library.cat
Owners: @FarseerVeraenthis

Detachments
  Imperium - Astra Militarum - Library.cat
Owners: @Dunamis55

Datasheets up to Sly Marbo
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Dunamis55
